{% extends 'base.html' %}

{% block title %} Создать запись {% endblock %}

{% block content %}

    <div class="container mt-4">
        <h2>Создать пост</h2>
        <form method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Заголовок</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Содержание</label>
                <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>

    </div>

{% endblock %}